In [9]:
import macaco as mc

In [10]:
dic = {
     'City': ['Buenos Aires', 'Brasilia', 'Santiago', 'Bogota', 'Caracas'],
     'Country': ['Argentina', 'Brazil', 'Chile', 'Colombia', 'Venezuela'],
     'Latitude': [-34.58, -15.78, -33.45, 4.60, 10.48],
     'Longitude': [-58.66, -47.91, -74.08, -74.08, -66.86]
}

In [11]:
bf = mc.BananaFrame(dic)

In [12]:
bf.City()

['Buenos Aires', 'Brasilia', 'Santiago', 'Bogota', 'Caracas']

In [13]:
bf["City"]

['Buenos Aires', 'Brasilia', 'Santiago', 'Bogota', 'Caracas']

In [14]:
bf.row(0)

['Buenos Aires', 'Argentina', -34.58000183105469, -58.65999984741211]

In [15]:
bf[0]

['Buenos Aires', 'Argentina', -34.58000183105469, -58.65999984741211]

In [16]:
bf.display()

╒════╤══════════════╤═══════════╤════════════╤═════════════╕
│    │ City         │ Country   │   Latitude │   Longitude │
╞════╪══════════════╪═══════════╪════════════╪═════════════╡
│  0 │ Buenos Aires │ Argentina │     -34.58 │      -58.66 │
├────┼──────────────┼───────────┼────────────┼─────────────┤
│  1 │ Brasilia     │ Brazil    │     -15.78 │      -47.91 │
├────┼──────────────┼───────────┼────────────┼─────────────┤
│  2 │ Santiago     │ Chile     │     -33.45 │      -74.08 │
├────┼──────────────┼───────────┼────────────┼─────────────┤
│  3 │ Bogota       │ Colombia  │       4.6  │      -74.08 │
├────┼──────────────┼───────────┼────────────┼─────────────┤
│  4 │ Caracas      │ Venezuela │      10.48 │      -66.86 │
╘════╧══════════════╧═══════════╧════════════╧═════════════╛

In [17]:
bf.slices([1,2])

In [18]:
bf.display()

╒════╤══════════╤═══════════╕
│    │ City     │ Country   │
╞════╪══════════╪═══════════╡
│  0 │ Brasilia │ Brazil    │
├────┼──────────┼───────────┤
│  1 │ Santiago │ Chile     │
╘════╧══════════╧═══════════╛

In [24]:
bf.Latitude()

[-15.779999732971191, -33.45000076293945]

In [ ]:
import numpy as np
teams_list = ["Man Utdasdsaddasd", "Man City", "T Hotspur"]
data = np.array([[1, 2, 1],
                 [0, 1, 0],
                 [2, 4, 2]])

row_format ="{:>15}" * (len(teams_list) + 1)
print(row_format.format("", *teams_list))
for team, row in zip(teams_list, data):
    print(row_format.format(team, *row))

In [ ]:
from tabulate import tabulate
print(tabulate([['Aliceasdasds', 24], ['Bob', 19]], headers=['Name', 'Age']))

In [ ]:
tabulate?